.DS_Store
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
.env
.env.*
*.code-workspace
weights/
checkpoints/
deep3d/checkpoints/
deep3d/BFM/*.mat
mean_std/
data/
results/
runs/
logs/
wandb/
Wav2Lip/
PSFRGAN/
*.pth
*.pt
*.ckpt
